
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Questrial');


h1{
    color : #6C3483;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    text-align: center;
    margin-top: 2%;
}
h3,h2{
    color : #76D7C4    ;
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
   
}
h4{
    color : #FDEDEC  ;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align: center;
    margin: 0%;
    padding-top: 2%;

}
h5{
    color: #FFEBEE;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;
    text-align: center;

}
h6{
    color:#AD147C;
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
    margin: 0%;
    padding: 0%;
}

p{
    color: #76D7C4    ;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;

}
 body{
    /*background-color: white;  */
    background-image: url(images/flores.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%; 

}
hr{
    width:80%;
}
footer{
    border-top: #CE93D8 1px;
    width: 100%;
    background-color: #C2185B;
    opacity: 0.5;
}
article{
    display: inline-block;

}
article p{
    text-align: center;
    margin-left: 76%;
    margin-top: 0%;
}
.name-tools{
    text-align: center;
    margin-left: 9%;
    margin-top: 0%;
}

#aboutme{
    position: relative;
    float: right;
    width: 50%;
    height: auto;
    right: 7%;
}
#me{
    position: relative;
    float: right;
    width: 50%;
    height: 25%;
    left: 6%;
}
#photo{
    width: 45%;
    height: 45%;
    border-radius: 15%;
    border-left: 25%;
    position: relative;
    float: left;
    left: 150px;
    margin-bottom: 100px
}
#github{
    margin-left: 300px;
    margin-bottom: 10px;

}
.tools{
    display: inline-block;
    margin:10px;
}
#content-footer{
    margin-left: 450px;
    padding-bottom: 7%;
   
}
#cuisine-divine{
    background-color: white;
    width: 350px;
    height: auto;
    border-radius: 5%;
    padding: 10px;
    margin-left: 38%;
    margin-bottom: 3%;
    border:solid 2px #A3E4D7;
}
#card-cuisine:hover{
    opacity: 0.6;
   
}

#cuisine-divine p{
    color: black;
    font-size: 0.9em;

}
#cuisine-divine h5{
    margin: 2%;
    color:#6C3483;
}
#card-cuisine{
    width: 350px;
    border-radius: 5%;

}
.button-cards{
    display: inline-block;
    border: solid 1px #AB47BC  ;
    color:#6A1B9A  ;
    width: 130px;
    height: 30px;
    margin: 2%;
    border-radius: 9%;
    font-size: 0.9em;
}
.button-cards:hover{
    background-color: #AB47BC;
    color:white;
    font-size: 1em;
    width:140px;
}
#title{
    margin-top: 15%;
    margin-left: 35%;
}

